# Use postgres/example user/password credentials
version: '3.9'

services:

  db:
    image: postgres
    ports:
        - "5432:5432"
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: example

  backend:
    build: ./
    ports:
      - "8080:8080"
    restart: always
    environment:
      ENV: dev